{% extends "pre_base.html" %}
{% block main %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="jumbotron-text">Athlytix is Fitness Intelligence</h1>
            <p class="jumbotron-text">Get <strong>stronger</strong>, <strong>faster</strong> and <strong>leaner</strong>
                with our cutting edge fitness analytics!</p>
            <p><a class="btn btn-primary btn-lg" href="/user/register" role="button">Sign up FREE! &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2 class="text-center">Monitor your fitness</h2>
                <p class="text-justify">Athlytix uses advanced statistical models to track and predict changes in all
                    aspects of your fitness over time.</p>
                <p class="text-justify">Athlytix can tell you how much you should lift, what pace you can maintain for a
                    given distance, your true daily energy expenditure, and more!</p>
                {#                <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <div class="col-md-3">
                <h2 class="text-center">See how you stack up</h2>
                <p class="text-justify">Athlytix lets you see a percentile ranking of how your achievements compare with
                    those of other people at the national, state and city level.</p>
                <p class="text-justify">Leaderboards let you see who's the strongest, the fastest, the
                    leanest, the biggest loser and more!</p>
                {# <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> #}
            </div>
            <div class="col-md-3">
                <h2 class="text-center">Easily track your diet</h2>
                <p class="text-justify">Athlytix allows you to import nutrition information from a variety databases and
                    recipe sites with a single click.</p>
                <p class="text-justify">If you tend to eat the same food every day, you can enter it once and tell
                    Athlytix
                    to automatically use that data for days where you don't record any food eaten.</p>
                {# <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>  #}
            </div>
            <div class="col-md-3">
                <h2 class="text-center">Coach and get coached</h2>
                <p class="text-justify">Athlytix is built from the ground up to facilitate interaction between coaches
                    and their athletes.</p>
                <p>If you're looking for a coach, Athlytix will show you who is getting the best results.</p>
                <p class="text-justify">If you're a coach, Athlytix will help you get new clients. Every client you
                    have that makes the leaderboards is free advertising!</p>
                {#   <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>  #}
            </div>
        </div>
    </div>
{% endblock %}